        .overlay{
          height: 100%;
          width: 100%;
          background:  linear-gradient(-29deg, rgba(0, 0, 0, 0.9) 0, rgba(45, 45, 45, 0.9) 100%);
          background: -moz-linear-gradient(-29deg, rgba(0, 0, 0, 0.9) 0, rgba(52, 52, 52, 0.9) 100%);
          background: -ms-linear-gradient(-29deg, rgba(0, 0, 0, 0.9) 0, rgba(64, 63, 63, 0.9) 100%);
          background: -o-linear-gradient(-29deg, rgba(0, 0, 0, 0.9) 0, rgba(57, 57, 57, 0.9) 100%);
          background: linear-gradient(-29deg, rgba(0, 0, 0, 0.9) 0, rgba(60, 60, 60, 0.9) 100%);
      }
      /*blog page*/
.blog-sidebar .widget > h3:after {
background-color: #4e54c8;
}
.blog-details-post .entry-meta li i {
color: #4e54c8;
}
.blog-details-post .entry-body blockquote {
    border-color: #4e54c8;
}
.blog-details-post .comments-area .comment-author-metadata img {
    border: 3px solid #4e54c8;
}
.blog-sidebar .search-widget button:hover {
    color: #4e54c8;
}
.blog-sidebar .categories-widget ul li a:hover {
    color: #4e54c8;
}
.blog-sidebar .recent-posts-widget h4 a:hover {
    color:  #4e54c8;
}
.blog-sidebar .recent-posts-widget .date {
    color: #4e54c8;
}
.blog-sidebar .tags-widget div > a:hover {
    background-color: #4e54c8;
    border-color: #4e54c8;
}
.slider-area .owl-dot.active {
background: #000000;
}
.project-details-title h6 {
    color: #4e54c8;
}
.project-features ul li i {
    color: #4e54c8;
}
.portfolio .port-filter ul li.filter-item {
      background: linear-gradient(-45deg, rgba(78, 84, 200, .9), rgba(128, 137, 255, .9));
}
  .success {
  background: #4e54c8;
  }
